main:not(.dialog) {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr 2fr 1fr 1fr 0.5fr 1fr;
  // grid-template-rows: 1fr 1fr 2fr 2fr 1fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 0px 0px;

  &.active {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
  }

  height: 100%;
  // display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 24px; */
    // padding: 10px;
    position: relative;
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
    i {
      position: absolute;
      left: 20px;
      font-size: 16px;
    }

    h1 {
      margin: 0;
    }
  }

  span.destiny {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;

    i {
      font-weight: bold;
      color: #820204;
    }
  }

  picture {
    display: flex;
    position: relative;
    justify-content: center;
    height: 180px;

    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;

    div {
      display: initial;
      height: 180px;
      width: 200px;
      position: relative;

      img {
        width: 180px;
        height: 180px;
        border-radius: 200px;
        position: absolute;
        box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.54);

        &:first-child {
          z-index: 2;
          right: 70px;
        }

        &:last-child {
          z-index: 1;
          object-fit: cover;
          left: 70px;
        }
      }
    }
  }

  p {
    // animation: an 1s ease-out 1 both;

    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;

    font-size: 16px;
    text-align: center;
    padding: 0 24px;

    &.vtnccss {
      text-align: end !important;
    }
  }

  div {
    display: flex;
    justify-content: center;

    button {
      animation: fadeIn 1.5s;
      -webkit-animation: fadeIn 1.5s;
      -moz-animation: fadeIn 1.5s;
      -o-animation: fadeIn 1.5s;
      -ms-animation: fadeIn 1.5s;

      height: 40px;
      color: white;
      width: 80%;
      background: #678c55;
      border: 0;
      border-radius: 8px;
      font-family: "Josefin Slab", serif;
      font-size: 22px;
      font-weight: bold;
      box-shadow: 0px 3px 11px 2px rgb(0 0 0 / 54%);
    }
  }

  span.sign {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;

    font-family: "Lovers Quarrel", cursive;
    font-size: 32px;
    letter-spacing: 3px;
    padding: 0 24px;
    color: black;

    text-align: end;
  }
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}

main.dialog {
  display: none;
  &.active {
    animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    -o-animation: fadeIn 0.3s;
    -ms-animation: fadeIn 0.3s;
    display: flex;
  }
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.78);
  z-index: 4;

  section {
    position: relative;
    background-color: #d9d9d9;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;

    i.pi-times {
      right: 8px;
      top: 8px;
      position: absolute;
    }

    h2 {
      font-size: 32px;
      color: #333232;
      text-align: center;
      height: 120px;
      align-items: center;
      display: flex;
    }

    div:not(.pix, .block) {
      transition: ease-out 0.3s;
      border-radius: 8px;
      background: white;
      width: 90%;
      margin: 20px 0;
      min-height: 80px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0;

      aside {
        transition: ease-out 0.3s;
        display: flex;
        align-items: center;
        padding-left: 20px;
        gap: 16px;

        p:not(.pix) {
          transition: ease-out 0.3s;
          color: #4b4848;
          font-weight: 600;
          font-size: 20px;
          display: flex;
          flex-direction: column;
          text-align: end;

          small {
            font-size: 12px;
            font-weight: 500;
          }
        }

        i:not(.pix, .block) {
          color: #cd9b04;
          font-size: 42px;
        }

        &:last-child {
          transition: ease-out 0.3s;
          height: 0;
          display: none;
          padding-right: 20px;
          animation: fadeIn 1.5s;
          -webkit-animation: fadeIn 1.5s;
          -moz-animation: fadeIn 1.5s;
          -o-animation: fadeIn 1.5s;
          -ms-animation: fadeIn 1.5s;

          .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            position: relative;

            p {
              font-weight: 600;
            }

            label {
              position: relative;
              display: flex;
              align-items: center;
              gap: 8px;

              font-size: 16px;
              font-weight: 600;

              small {
                top: -14px;
                font-size: 14px;
                position: absolute;
                font-weight: 500;
              }
            }
          }

          div.pix {
            transition: ease-out 0.3s;

            background-color: #d9d9d9;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;

            i {
              font-size: 25px;
            }

            &:focus {
              transition: ease 0.3s;
              background-color: #32bcad;

              i {
                transition: ease 0.3s;
                color: white;
              }
            }
          }
        }
      }
      &.activeCard {
        gap: 20px;
      }

      &.activePix,
      &.activeCard {
        transition: ease 0.3s;
        padding: 10px 0;
        gap: 16px;

        aside {
          transition: ease 0.3s;
        }

        aside:last-child {
          transition: ease 0.3s;
          height: 80px;
          display: flex;
          justify-content: space-around;

          &.card {
            display: flex;
            flex-direction: column !important;
            align-items: center;
            justify-content: center;

            span {
              color: #c52626;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

span.clipboard {
  bottom: 341px;
  position: absolute;
  font-size: 10px;
  white-space: nowrap;
  background: #32bcad;
  font-weight: 600;
  color: white;
  padding: 10px;
  border-bottom: 8px;
  transition: ease-out 0.5s;
  visibility: hidden;

  &.active {
    transition: ease-in 0.5s;
    visibility: visible !important;
  }
}
