main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 24px; */
    // padding: 10px;
    position: relative;

    i {
      position: absolute;
      left: 20px;
      font-size: 16px;
    }

    h1 {
      margin: 0;
    }
  }

  span.destiny {
    text-align: center;
    font-size: 18px;
    font-weight: 500;

    i {
      font-weight: bold;
      color: #820204;
    }
  }

  picture {
    display: flex;
    position: relative;
    justify-content: center;
    height: 180px;

    img {
      width: 180px;
      height: 180px;
      border-radius: 200px;
      position: absolute;
      box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.54);

      &:first-child {
        z-index: 2;
        right: 180px;
      }

      &:last-child {
        z-index: 1;
        object-fit: cover;
        left: 180px;
      }
    }
  }

  p {
    font-size: 16px;
    text-align: center;
    padding: 0 24px;
  }

  div {
    display: flex;
    justify-content: center;

    button {
      height: 40px;
      color: white;
      width: 80%;
      background: #678c55;
      border: 0;
      border-radius: 8px;
      font-family: "Josefin Slab", serif;
      font-size: 22px;
      font-weight: bold;
      box-shadow: 0px 3px 11px 2px rgb(0 0 0 / 54%);
    }
  }

  span.sign {
    font-family: "Lovers Quarrel", cursive;
    font-size: 32px;
    letter-spacing: 3px;
    padding: 0 24px;
    color: black;
  }
}
