<main>
  <header>
    <i class="pi pi-arrow-left" (click)="navigateTo()"></i>
    <h1>Viagem dos sonhos</h1>
  </header>

  <span class="destiny">
    Destino: <i>Las vegas !</i>
  </span>

  <picture>
    <img src="../../assets/img1.jpg">
    <img src="../../assets/img2.jpg">
  </picture>

  <p>
    É com imensa alegria que
    anunciamos <b>nosso casamento</b> e queremos compartilhar esse momento especial com <i>você!</i>
  </p>
  <p>
    E para tornar nossa experiência ainda mais inesquecível,
    decidimos realizar a viagem dos nossos sonhos para <b>Las Vegas!</b> Se desejar nos presentear,
    aceitamos contribuições para essa aventura, basta <i>clicar no botão</i>
  </p>

  <div>
    <button>Presenteie os noivos</button>
  </div>

  <p>
    Sua presença e apoio são o maior presente que poderíamos receber.
  </p>
  <p>
    Esperamos por você para brindarmos juntos ao <b>amor</b> e à <b>felicidade!</b>
  </p>
  <p>
    Com carinho,
  </p>

  <span class="sign">Isabella e Mauricio</span>
</main>
